<form onsubmit="return false;">
    <label for="query">Search term:</label>
    <input #searchBox type="text" name="query" id="query" />
    <button (click)="search(searchBox.value)" type="submit">Search</button>
    <span *ngIf="loading; else loadedBlock" class="loading-message">Loading...</span>
</form>
<ng-template #loadedBlock>
    <div *ngIf="results === false" class="empty-message">Enter search terms above.</div>
    <div *ngIf="results === 'error'" class="error-message">Internal error.</div>
    <table *ngIf="results instanceof Array">
        <tr *ngFor="let result of results">
            <td>{{result.engine}}</td>
            <td>{{result.href | domainName}}</td>
            <td><a href="{{result.href}}">{{result.text}}</a></td>
        </tr>
        <tr *ngIf="results.length === 0">
            <td></td>
            <td></td>
            <td>No results.</td>
        </tr>
    </table>
</ng-template>